* {
	padding: 0px;
}

body {
	background-image: url('images/darknoise.png');
	background-color: rgb(34, 34, 34);
	color: #FFFFFF;
	font-size: 12px;
	font-family: "Century Gothic", "Avant Garde", sans-serif;
	text-align:center;
}

#header {
	margin:0 auto;
}

#header h3.header {
	margin-top: 80px;
	font-weight: normal;
	color: #FFFFFF;
	font-size: 48px;
	letter-spacing: -1px;
	margin-bottom: 0px;
}

#header h3.header b {
	color: #3f88db;
}

#header h3.slogan {
	margin-top: -20px;
	margin-left: -25px;
	font-weight: normal;
	color: #FFFFFF;
	font-size: 18px;
	letter-spacing: -1px;
	margin-bottom: 30px;
}

#nav {
	width: 700px;
	height: 40px;
	background: url("images/line1.png") no-repeat top left;
	margin:0 auto;
	margin-bottom: 0px;
	text-align: center;
	padding-top: 15px;
	letter-spacing: -1px;
	font-size: 14px;
}

#nav a.navlink {
	margin-top: 10px;
	width: auto;
	height: 40px;
	text-decoration: none;
	color: #FFFFFF;
	margin-left: 4px;
	margin-right: 7px;
}

#nav a.navlink:hover {
	color: #3f88db;
}

#content {
	width: 700px;
	margin:0 auto;
	margin-top: 15px;
	text-align: left;
}

#news {
	float: left;
	margin-top: 0px;
	margin-left: 100px;
	text-align: left;
	width: 280px;
	height: 300px;
	padding-right: 0px;
}

#news h3.title {
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
	letter-spacing: -1px;
	width: 280px;
	margin-bottom: 0px;
	text-align: left;
}

#news h3.meta {
	font-style: italic;
	font-size: 12px;
	width: 280px;
	text-align: left;
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 15px;
}

#archive {
	background: url('images/line2.png') no-repeat center left;
	width: 200px;
	float: right;
	margin-right: 50px;
	padding-left: 30px;
	padding-top: 50px;
	clear: right;
	min-height: 250px;
}

#archive .entry {
	float: left;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 200px;
	font-size: 11px;
}

#archive .entry a.archive_title {
	font-size: 12px;
	color: #3f88db;
	font-weight: normal;
	width: 200px;
	float: left;
	text-transform: uppercase;
}

#footer{
	float: left;
	width: 700px;
	background: url('images/line1.png') no-repeat top center;
	padding-top: 14px;
	font-size: 10px;
	height: 50px;
	color: #bcbcbc;
	text-align: center;
	font-weight: normal;
	clear: none;
}

#footer a {
	color: #bcbcbc;
	font-weight: bold;
	text-decoration: none;
}

#footer a:hover {
	color: #3f88db;
}

a {
	text-decoration: none;
	color: #3f88db;
}

a:hover {
	text-decoration: underline;
	color: #3f88db;
}
