*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	border: none;
	overflow: hidden;
	background: #333;
	font: 400 normal 16px/20px 'Audiowide', 'Orbitron', 'Montserrat', 'Open Sans', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
	color: whitesmoke;
}

button {
	min-width: 72px; // thumb-friendly
	min-height: 44px;
	font: inherit;
	color: inherit;
	cursor: pointer;
	background: none;
	border: 1px solid whitesmoke;
	border-radius: 3px;
	margin: 0.25rem 0;
	padding: 0.5rem;

	&::-moz-focus-inner {
		border: none;
	}

	&:focus,
	&:hover {
		outline: 0;
		background: rgba(255, 255, 255, 0.3);
	}

	&:active {
		background: rgba(0, 0, 0, 0.3);
	}
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 100%;
	height: 44px;
	font: inherit;
	color: inherit;
	cursor: pointer;
	background: none;
	border: 1px solid whitesmoke;
	border-radius: 3px;
	margin: 0.25rem 0;
	padding: 0.5rem;

	option {
		padding: 0.1rem;
		background: inherit;
		border: none;

		&:disabled {
			cursor: default;
		}
	}
}

a {
	color: #288edf;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.sidebar {
	position: fixed;
	background: #333;
	border: 1px solid rgba(255, 255, 255, 0.1);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	//box-shadow: 0 0 10px #111;
	display: flex;
	justify-content: flex-start;
	align-items: center;

	&.sidebar-top {
		top: 0;
		left: 0;
		width: 100%;
		height: 60px;
		flex-flow: row nowrap;
	}

	&.sidebar-right {
		top: 0;
		right: 0;
		width: 60px;
		height: 100%;
		flex-flow: column nowrap;
	}

	&.sidebar-bottom {
		bottom: 0;
		left: 0;
		width: 100%;
		height: 60px;
		flex-flow: row nowrap;
	}

	&.sidebar-left {
		top: 0;
		left: 0;
		width: 60px;
		height: 100%;
		flex-flow: column nowrap;
	}

	button {
		min-width: 44px;
		width: 44px;
		height: 44;
		margin: 0.5rem;

		&:hover, &:focus, &:active {
			color: #333 !important;
		}
	}
}

.module {
	position: fixed;
	top: 0.5rem;
	right: calc(0.5rem + 60px);
	min-width: 300px;
	padding: 0.8rem;
	border-radius: 5px;
	background: #333;
	border: 1px solid rgba(255, 255, 255, 0.1);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	//box-shadow: 0 0 10px #111;

	h1 {
		font-size: 1.2rem;
		margin-bottom: 0.25rem;

		&:not(:nth-of-type(1)) {
			margin-top: 1rem;
		}
	}
}

.knob-set {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
}

.knob-block {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	margin: 0.5rem;

	label {
		display: block;
		font-size: 0.7rem;
	}
}

#splash-screen {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 512px;
	max-width: 95%;
	height: 512px;
	max-height: 95%;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 100px;
	background: #333;
	box-shadow: 0 0 10px #111;
	
	> h1 {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: #288edf;
		text-align: center;
		font-size: 6rem;
		font-family:  'Monoton', 'Audiowide', 'Open Sans', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
	}
}

#surface {
	position: fixed;
	top: 0;
	left: 0;
	display: block;
}

#button-preset {
	color: #D34D2E;
	border: 1px solid #D34D2E;

	&:hover, &:focus, &:active {
		background: #D34D2E;
	}
}

#module-preset {
	color: #D34D2E;
	border: 1px solid #D34D2E;

	h1 {
		color: #D34D2E;
	}
	select, button {
		border: 1px solid #D34D2E;
	}
}

#button-osc {
	color: #FF9900;
	border: 1px solid #FF9900;

	&:hover, &:focus, &:active {
		background: #FF9900;
	}
}

#module-osc {
	color: #FF9900;
	border: 1px solid #FF9900;

	h1 {
		color: #FF9900;
	}
	select, button {
		border: 1px solid #FF9900;
	}
}

#button-filter {
	color: #3DC186;
	border: 1px solid #3DC186;

	&:hover, &:focus, &:active {
		background: #3DC186;
	}
}

#module-filter {
	color: #3DC186;
	border: 1px solid #3DC186;

	h1 {
		color: #3DC186;
	}
	select, button {
		border: 1px solid #3DC186;
	}
}

#button-effect {
	color: #37BBBA;
	border: 1px solid #37BBBA;

	&:hover, &:focus, &:active {
		background: #37BBBA;
	}
}

#module-effect {
	color: #37BBBA;
	border: 1px solid #37BBBA;

	h1 {
		color: #37BBBA;
	}
	select, button {
		border: 1px solid #37BBBA;
	}
}

#button-graphics {
	color: #F23A65;
	border: 1px solid #F23A65;

	&:hover, &:focus, &:active {
		background: #F23A65;
	}
}

#module-graphics {
	color: #F23A65;
	border: 1px solid #F23A65;

	h1 {
		color: #F23A65;
	}
	select, button {
		border: 1px solid #F23A65;
	}
}

#button-settings {
	color: #E6E6E6;
	border: 1px solid #E6E6E6;

	&:hover, &:focus, &:active {
		background: #E6E6E6;
	}
}

#module-settings {
	color: #E6E6E6;
	border: 1px solid #E6E6E6;

	h1 {
		color: #E6E6E6;
	}
	select, button {
		border: 1px solid #E6E6E6;
	}
}

#button-info {
	color: rgba(255, 255, 255, 0.5);
	border: 1px solid rgba(255, 255, 255, 0.5);

	&:hover, &:focus, &:active {
		background: rgba(255, 255, 255, 0.5);
	}
}

#module-info {
	width: 400px;

	.app-name {
		margin: 0.25rem 0 0;
		font-size: 2rem;
		color: #288edf;
		text-align: center;
		font-family:  'Monoton', 'Audiowide', 'Open Sans', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
	}
	.app-subtitle {
		margin: 0.5rem;
		font-size: 0.8rem;
		text-align: center;
	}
	.app-version {
		position: absolute;
		top: 0.5rem;
		right: 0.5rem;
		color: rgba(255, 255, 255, 0.1);
	}
}
