*, *:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	border: none;
	overflow: hidden;
	background: #333;
	font: 400 normal 16px/20px 'Audiowide', 'Orbitron', 'Montserrat', 'Open Sans', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
	color: whitesmoke;
}

a {
	color: #288edf;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

button {
	border: none;
	font: inherit;
	color: inherit;
	min-width: 40px;
	min-height: 40px;
	border-radius: 5px;
	background: transparent;
	border: 1px solid whitesmoke;
	cursor: pointer;

	&:hover {
		background: rgba(255, 255, 255, 0.1);
	}
	&:active {
		background: rgba(255, 255, 255, 0.2);
	}
	&.active {
		border: 1px solid #3DC186;
		color: #3DC186;
	}
}

input {
	margin: 5px 0.5rem;
	padding: 0.3rem 0.5rem;
	font: inherit;
	color: inherit;
	border: 1px solid whitesmoke;
	border-radius: 5px;
	background: transparent;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	margin: 5px 0;
	padding: 0.2rem;
	font: inherit;
	color: inherit;
	border: 1px solid whitesmoke;
	border-radius: 5px;
	background: transparent;

	option {
		padding: 0.1rem;
		background: inherit;
		border: none;

		&:disabled {
			cursor: default;
		}
	}
}

#splash-screen {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 512px;
	max-width: 95%;
	height: 512px;
	max-height: 95%;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 100px;
	background: #333;
	box-shadow: 0 0 10px #111;
	
	> h1 {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: #288edf;
		text-align: center;
		font-size: 6rem;
		font-family:  'Monoton', 'Audiowide', 'Orbitron', 'Montserrat', 'Open Sans', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
	}
}

#surface {
	position: fixed;
	top: 0;
	left: 0;
	display: block;
}

#menu-button {
	position: fixed;
	top: 1rem;
	right: 1rem;
}

#menu {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	min-width: 300px;
	max-width: 100%;
	max-height: 95%;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 5px;
	background: #333;
	box-shadow: 0 0 10px #111;
	overflow: auto;
	padding: 0.5rem;

	> h1 {
		margin: 0.5rem;
		color: #288edf;
		text-align: center;
		font-family:  'Monoton', 'Audiowide', 'Orbitron', 'Montserrat', 'Open Sans', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
	}
	> p {
		margin: 0.5rem;
		font-size: 0.8rem;
		text-align: center;
	}

	.version {
		position: absolute;
		top: 0.5rem;
		right: 0.5rem;
		color: rgba(255, 255, 255, 0.1);
	}
	#menu-close {
		position: absolute;
		top: 0.5rem;
		left: 0.5rem;
		color: rgba(255, 255, 255, 0.1);
		border-color: rgba(255, 255, 255, 0.1);
	}

	.module-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center; // space-around
		align-items: stretch; // center
		align-content: center;

		.box {
			min-width: 100px;
			min-height: 100px;
			margin: 5px;
		}
		.module {
			//display: inline-block;
			position: relative;
			padding: 0.5rem;
			margin: 0.25rem;
			border-radius: 5px;
			vertical-align: top;

			h1 {
				margin: 0.5rem 0;
				font-size: 1.2rem;
			}

			.knob-block {
				display: inline-block;
				vertical-align: middle;
				text-align: center;

				label {
					display: block;
					font-size: 0.7rem;
				}
			}
		}
	}
}

#module-preset {
	color: #D34D2E;
	border: 1px solid #D34D2E;

	h1 {
		color: #D34D2E;
	}
	select, button {
		border: 1px solid #D34D2E;
	}
}

#module-osc {
	color: #FF9900;
	border: 1px solid #FF9900;

	h1 {
		color: #FF9900;
	}
	select, button {
		border: 1px solid #FF9900;
	}
}

#module-lfo {
	color: gold;
	border: 1px solid gold;

	h1 {
		color: gold;
	}
	select, button {
		border: 1px solid gold;
	}
}

#module-filter {
	color: #3DC186;
	border: 1px solid #3DC186;

	h1 {
		color: #3DC186;
	}
	select, button {
		border: 1px solid #3DC186;
	}
}

#module-effect {
	color: #37BBBA;
	border: 1px solid #37BBBA;

	h1 {
		color: #37BBBA;
	}
	select, button {
		border: 1px solid #37BBBA;
	}
}

#module-graphics {
	color: #F23A65;
	border: 1px solid #F23A65;

	h1 {
		color: #F23A65;
	}
	select, button {
		border: 1px solid #F23A65;
	}
}

#module-settings {
	color: #E6E6E6;
	border: 1px solid #E6E6E6;

	h1 {
		color: #E6E6E6;
	}
	select, button {
		border: 1px solid #E6E6E6;
	}
}
